# Java
target/
*.class
*.jar
*.war
*.ear
*.logs
*.iml
.idea/
.settings/
.classpath
.project
.vscode

# Node.js
ui/node_modules/
ui/.next/
ui/out/
ui/.cache/
ui/build/
ui/dist/
ui/.env
ui/.env.local
ui/.env.development.local
ui/.env.test.local
ui/.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific
.DS_Store
Thumbs.db
